:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  color: var(--primary-font-color--);
  font-size: 14px;
  color: #213547;
  background-color: #ffffff;

  /* 设置整体配色---朱红色 */
  --primary-color--: #8b0000;
  --secondary-assistant-color--: #800000;
  --primary-background--: #f5f5dc;
  --primary-font-color--: #333333;
  --primary-focus-color--: #b8860b;
  --single-match-draw--: pink;

  /* 设置整体配色---浅红色系 */
  /* --primary-color--: #dc2626;
  --secondary-assistant-color--: #f87171;
  --primary-background--: #f5f5dc;
  --primary-font-color--: #111827;
  --secondary-font-color--: #6b7280;
  --primary-focus-color--: #9acd32;
  --single-match-draw--: pink; */

  /* 设置整体配色---海军蓝 */
  /* --primary-color--: #003366;
  --secondary-assistant-color--: #f0f0f0;
  --primary-background--: #f5f5dc;
  --secondary-assistant-background-color--: #fffdd0;
  --primary-font-color--: #2c3e50;
  --secondary-font-color--: #f5f5dc;
  --third-assistant-font-color--: #666666;
  --primary-focus-color--: #ffd1dc;
  --single-match-draw--: #e5e5e5; */
  --el-loading-spinner-color: var(--primary-color--);
}

body {
  margin: 0;
}

#app {
  width: 100%;
  max-width: 100%;
}

/*布局信息 */
.flex-layout {
  display: flex;
  align-items: center;
}

/* 按钮样式调整 */
/* .el-button--primary {
  --el-button-bg-color: var(--primary-color--);
  --el-button-border-color: var(--primary-color--);
  --el-button-hover-bg-color: var(--secondary-assistant-color--);
  --el-button-hover-border-color: var(--secondary-assistant-color--);
} */

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
  height: 8px; /* 滚动条高度（针对水平滚动条） */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道背景色 */
  border-radius: 4px; /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: var(--primary-color--); /* 滑块背景色 */
  border-radius: 4px; /* 圆角 */
}

/* 滚动条滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-assistant-color--); /* 悬停时滑块背景色 */
}

/* 输入框 */
/* .el-input__wrapper.is-focus {
  box-shadow: 0 0 1px var(--primary-color--) inset; 
} */

/* 时间选择器颜色 */
/* .el-date-picker {
  --el-datepicker-active-color: var(--primary-color--); 
  --el-datepicker-hover-text-color: var(--secondary-assistant-color--);
  --el-datepicker-text-color: #333; 
  --el-datepicker-border-color: #ccc; 
  --el-datepicker-hover-color: #f0f0f0; 
  --el-datepicker-header-background-color: #f9f9f9; 
  --el-datepicker-cell-disabled-color: #ddd; 
} */

/* 单选组件 */
/* .el-radio {
  --el-radio-input-border-color-hover: var(--primary-color--);
}

.el-radio__input.is-checked .el-radio__inner {
  background: var(--primary-color--);
  border-color: var(--primary-color--);
}

.el-radio__input.is-checked + .el-radio__label {
  color: var(--primary-color--);
} */

/* 表格样式调整 */
.el-table--border th.el-table__cell {
  font-size: 12px;
  padding: 0px;
  color: var(--primary-font-color--);
}

.el-table--enable-row-transition .el-table__body td.el-table__cell {
  font-size: 12px;
  padding: 4px 0px;
  color: var(--primary-font-color--);
}

/* 分页信息 */
/* .el-pagination {
  --el-pagination-hover-color: var(--primary-font-color--);
}

.el-pagination.is-background .btn-next.is-active,
.el-pagination.is-background .btn-prev.is-active,
.el-pagination.is-background .el-pager li.is-active {
  background-color: var(--primary-color--);
  color: #ffffff;
} */

/* loading样式 */
.el-loading-mask {
  height: 100%;
}

.single-match-draw {
  background-color: var(--single-match-draw--) !important;
}

.single-match-lose {
  background-color: #333333 !important;
}

.single-match-win {
  background-color: var(--primary-color--) !important;
}
